article{

  background: linear-gradient(195deg, #6a0051, #5a0a51, #4a104f, #3a134a, #2b1445, #1d133d, #101134, #050b2b);
  margin: 15px;
  text-align:center;
}

figure img{

width: 10em;  
padding: 1px;

}

header{

  color: #ffffff;

text-align:center;

text-decoration: underline;

}


figure{

  border: 1px solid ;
 


}

figcaption{
  border: 1px solid;
}