pre {
    background-color: #000000;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-family: Consolas, monospace;
    width: 80%;
    max-width: 100%;
    white-space: pre-wrap; 
    word-break: break-word; 
}


  .keyword {
    color: #d73a49; 
    font-weight: bold;
}
.comment {
    color: #6a737d; 
    font-style: italic;
}
.string {
    color: #0858b5; 
}
.function {
    color: #005cc5; 
}
.number {
    color: #0086b3;
}

.flex-column h1{
    padding: 2%;
    font-size: 1.5em;
}


